
# Created by https://www.gitignore.io/api/golang
# Edit at https://www.gitignore.io/?templates=golang

#!! ERROR: golang is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/golang
golang_example
